2-6/flow2-6-1.json
[{"id":"befd3ce63fe5db97","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"728ea8e72a0f7e32","type":"debug","z":"befd3ce63fe5db97","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"1fb39d281ebdb945","type":"function","z":"befd3ce63fe5db97","name":"function 1","func":"msg.payload = 'Hello\\n'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["f0ab67657eefa9ea"]]},{"id":"60fd91771d29fff9","type":"inject","z":"befd3ce63fe5db97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["1fb39d281ebdb945"]]},{"id":"f0ab67657eefa9ea","type":"serial out","z":"befd3ce63fe5db97","name":"UART0 TX","serial":"2b0ab8dc4d29c93b","x":690,"y":200,"wires":[]},{"id":"26790f7fb04f3016","type":"serial in","z":"befd3ce63fe5db97","name":"UART2 RX","serial":"70a0eb3a8b1465e4","x":240,"y":320,"wires":[["728ea8e72a0f7e32"]]},{"id":"2b0ab8dc4d29c93b","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"70a0eb3a8b1465e4","type":"serial-port","serialport":"/dev/ttyAMA1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]