2-2/flow2-2.json
[{"id":"befd3ce63fe5db97","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"5a5ad631c1f19753","type":"inject","z":"befd3ce63fe5db97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":260,"wires":[["df51d1ef9241efa9"]]},{"id":"df51d1ef9241efa9","type":"rpi-dht22","z":"befd3ce63fe5db97","name":"","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"21","x":320,"y":260,"wires":[["171fee68024b761e","fd5d6abb04b0eb52"]]},{"id":"fd5d6abb04b0eb52","type":"change","z":"befd3ce63fe5db97","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["b683a863385e1693"]]},{"id":"171fee68024b761e","type":"ui_gauge","z":"befd3ce63fe5db97","name":"","group":"2f38f22e7b5f4fa4","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"degree","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":770,"y":260,"wires":[]},{"id":"b683a863385e1693","type":"ui_gauge","z":"befd3ce63fe5db97","name":"","group":"2f38f22e7b5f4fa4","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":780,"y":340,"wires":[]},{"id":"2f38f22e7b5f4fa4","type":"ui_group","name":"Default","tab":"9d53d2a120b5d7ae","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"9d53d2a120b5d7ae","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]