2-9/flow2-9.json
[{"id":"c860594cf82539d7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"56d19b0e27be2022","type":"mongodb-node","z":"c860594cf82539d7","mongodb":"461bcbb17c9f7638","name":"","collection":"data","operation":"store","upsert":false,"multi":false,"x":640,"y":200,"wires":[[]]},{"id":"8d9cb69a9399744f","type":"mongodb-node","z":"c860594cf82539d7","mongodb":"461bcbb17c9f7638","name":"","collection":"data","operation":"find","upsert":false,"multi":false,"x":580,"y":380,"wires":[["bbf077b6346e329f","a23245144ee2dfd1"]]},{"id":"35d935cc067b6fcf","type":"inject","z":"c860594cf82539d7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":380,"wires":[["f03fb6f5bb51cace"]]},{"id":"e87f7e5d73a9172a","type":"serial in","z":"c860594cf82539d7","name":"","serial":"122f9ccd23156093","x":290,"y":200,"wires":[["56d19b0e27be2022"]]},{"id":"f03fb6f5bb51cace","type":"function","z":"c860594cf82539d7","name":"function 1","func":"//msg.payload = {'payload': 'test'}\nmsg.sort = {'_id':-1}\nmsg.limit = 1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":380,"wires":[["8d9cb69a9399744f"]]},{"id":"bbf077b6346e329f","type":"function","z":"c860594cf82539d7","name":"function 2","func":"msg.payload = msg.payload[0].payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["b4df4471ea784944"]]},{"id":"b4df4471ea784944","type":"ui_chart","z":"c860594cf82539d7","name":"","group":"b9bf6ee8dcc75e12","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-1.2","ymax":"1.2","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":810,"y":520,"wires":[[]]},{"id":"a23245144ee2dfd1","type":"debug","z":"c860594cf82539d7","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":380,"wires":[]},{"id":"461bcbb17c9f7638","type":"mongodb-config","hostname":"127.0.0.1","port":"27017","db":"testdb","name":""},{"id":"122f9ccd23156093","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"b9bf6ee8dcc75e12","type":"ui_group","name":"Default","tab":"0bef0ebd8732b948","order":1,"disp":true,"width":13,"collapse":false,"className":""},{"id":"0bef0ebd8732b948","type":"ui_tab","name":"Home","icon":"image","order":1,"disabled":false,"hidden":false}]